DATASET Link:

https://www.kaggle.com/datasets/atakanak/turkish-house-rent-prediction-dataset/data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [2]:
dataset_train = pd.read_csv("Dataset_TR/train.csv")
dataset_test = pd.read_csv("Dataset_TR/test.csv")

In [3]:
dataset_train.shape

(6166, 16)

In [4]:
dataset_test.shape

(2642, 16)

In [5]:
dataset_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,6166.0,3082.500000,1780.115212,0.0,1541.25,3082.5,4623.75,6165.0
Bathroom Count,6164.0,1.389358,0.791561,1.0,1.00,1.0,2.00,22.0
Price,6166.0,71509.498540,783516.108690,1.0,14000.00,20000.0,30000.00,40000000.0

In [6]:
dataset_train.head()

,Unnamed: 0,City,Town,Neighborhood,Apartment Type,House Type,House Age,House Size,Room Count,Floor,Furniture,Bathroom Count,Hand,Heater Type,Heater Fuel,Price
0,0,Ankara,Mamak,Akşemsettin,Daire,Daire,3,125 m2,3 + 1,Ara Kat,True,2.0,İkinci El,Kombi,Doğalgaz,16000
1,1,Adana,Seyhan,Yeşilyurt,Daire,Daire,5,140 m2,3 + 1,13. Kat,False,2.0,İkinci El,Kombi,Doğalgaz,15500
2,2,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,Sıfır,360 m2,4 + 1,21 ve üzeri,False,3.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000
3,3,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,Sıfır,350 m2,4 + 1,Ara Kat,False,4.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000
4,4,İstanbul,Şişli,Fulya,Daire,Daire,15,90 m2,1 + 1,5. Kat,True,1.0,İkinci El,Merkezi (Pay Ölçer),Doğalgaz,60000

In [7]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6166 entries, 0 to 6165
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6166 non-null   int64
 1   City            6166 non-null   object
 2   Town            6166 non-null   object
 3   Neighborhood    6166 non-null   object
 4   Apartment Type  6166 non-null   object
 5   House Type      6166 non-null   object
 6   House Age       6166 non-null   object
 7   House Size      6166 non-null   object
 8   Room Count      6166 non-null   object
 9   Floor           5760 non-null   object
 10  Furniture       5934 non-null   object
 11  Bathroom Count  6164 non-null   float64
 12  Hand            5043 non-null   object
 13  Heater Type     6166 non-null   object
 14  Heater Fuel     5147 non-null   object
 15  Price           6166 non-null   int64
dtypes: float64(1), int64(2), object(13)
memory usage: 770.9+ KB

In [8]:
dataset_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,6166.0,3082.500000,1780.115212,0.0,1541.25,3082.5,4623.75,6165.0
Bathroom Count,6164.0,1.389358,0.791561,1.0,1.00,1.0,2.00,22.0
Price,6166.0,71509.498540,783516.108690,1.0,14000.00,20000.0,30000.00,40000000.0

In [9]:
dataset_train.isnull().sum()

Unnamed: 0           0
City                 0
Town                 0
Neighborhood         0
Apartment Type       0
House Type           0
House Age            0
House Size           0
Room Count           0
Floor              406
Furniture          232
Bathroom Count       2
Hand              1123
Heater Type          0
Heater Fuel       1019
Price                0
dtype: int64

In [10]:
dataset_train.columns

Index(['Unnamed: 0', 'City', 'Town', 'Neighborhood', 'Apartment Type',
       'House Type', 'House Age', 'House Size', 'Room Count', 'Floor',
       'Furniture', 'Bathroom Count', 'Hand', 'Heater Type', 'Heater Fuel',
       'Price'],
      dtype='object')

In [11]:
for column in dataset_train.columns:
    print(column)
    print(pd.unique(dataset_train[column]))
    print("\n====================\n")

Unnamed: 0
[   0    1    2 ... 6163 6164 6165]

====================

City
['Ankara' 'Adana' 'İstanbul' 'Muğla' 'Antalya' 'İzmir' 'Isparta' 'Aksaray'
 'Balıkesir' 'Tekirdağ' 'Edirne' 'Tokat' 'Bursa' 'Kocaeli' 'Aydın'
 'Erzincan' 'Burdur' 'Çanakkale' 'Yalova' 'Zonguldak' 'Kayseri' 'Giresun'
 'Eskişehir' 'Bolu' 'Düzce' 'Kastamonu' 'Amasya' 'Kahramanmaraş' 'Çorum'
 'Mersin(İçel)' 'Erzurum' 'Hatay' 'Samsun' 'Denizli' 'Manisa' 'Batman'
 'Bartın' 'Ordu' 'Gaziantep' 'Sakarya' 'Sivas' 'Kırıkkale' 'Kütahya'
 'Uşak' 'Nevşehir' 'Niğde' 'Osmaniye' 'Sinop' 'Rize' 'Trabzon' 'Konya'
 'Diyarbakır' 'Kırklareli' 'Karaman' 'Elazığ' 'Bilecik' 'Karabük' 'Mardin'
 'Van' 'Yozgat' 'Muş' 'Afyonkarahisar' 'K.K.T.C.' 'Kilis' 'Şanlıurfa'
 'Artvin' 'Malatya' 'Kırşehir' 'Adıyaman']

====================

Town
['Mamak' 'Seyhan' 'Beşiktaş' 'Şişli' 'Bodrum' 'Alanya' 'Bahçelievler'
 'Seferihisar' 'Çeşme' 'Serik' 'Etimesgut' 'Ortaca' 'Kadıköy' 'Sarıyer'
 'Çankaya' 'Beyoğlu' 'Avcılar' 'Merkez' 'Küçükçekmece' 'Erdek' 'Keçiören'
 'Kağıthane' 'Beykoz' 'Zeytinburnu' 'Çorlu' 'Süleymanpaşa' 'Ümraniye'
 'Esenyurt' 'Çukurova' 'Karabağlar' 'Esenler' 'Fatih' 'Kartal' 'Altındağ'
 'Beylikdüzü' 'Yenimahalle' 'Osmangazi' 'Gölcük' 'Kuşadası' 'Konyaaltı'
 'Finike' 'Üsküdar' 'Ataşehir' 'Eyüpsultan' 'Ayvacık' 'Keşan' 'Kozlu'
 'Fethiye' 'Talas' 'Edremit' 'Kepez' 'Tirebolu' 'Datça' 'Maltepe'
 'Tepebaşı' 'Karşıyaka' 'Manavgat' 'Ödemiş' 'Bandırma' 'Köyceğiz'
 'Başiskele' 'Güngören' 'Menemen' 'Nilüfer' 'Sarıçam' 'Buca' 'Efeler'
 'Döşemealtı' 'Torbalı' 'Merzifon' 'Onikişubat' 'Çiğli' 'Kocasinan'
 'Anamur' 'Gölbaşı' 'Çiftlikköy' 'Dalaman' 'Sincan' 'Bağcılar'
 'Başakşehir' 'Palandöken' 'Urla' 'Bakırköy' 'Defne' 'Elmalı' 'İlkadım'
 'Dörtyol' 'Pamukkale' 'Ereğli' 'Tarsus' 'Şehzadeler' 'Sancaktepe'
 'Bayraklı' 'Menteşe' 'Derince' 'Silivri' 'Çerkezköy' 'Burhaniye'
 'Bornova' 'Gönen' 'Odunpazarı' 'Yunusemre' 'Mezitli' 'Altıeylül'
 'Merkezefendi' 'Atakum' 'Yumurtalık' 'Didim' 'Yıldırım' 'Körfez' 'Ünye'
 'Şahinbey' 'Yakutiye' 'Antakya' 'Yenişehir' 'Muratpaşa' 'Söke' 'Kocaali'
 'Yahşihan' 'Bergama' 'Gaziosmanpaşa' 'Milas' 'Tuzla' 'Dikili' 'Marmaris'
 'Narlıdere' 'Kemer' 'Arsuz' 'Arnavutköy' 'Sapanca' 'Bayrampaşa' 'Kilimli'
 'Konak' 'Polatlı' 'Boyabat' 'Turgutlu' 'Çaycuma' 'Akhisar' 'Ayvalık'
 'Çekmeköy' 'Pendik' 'Bafra' 'İzmit' 'Serdivan' 'Karamürsel' 'Aksu'
 'Güzelbahçe' 'Ortahisar' 'Büyükçekmece' 'Karesi' 'Gömeç' 'Erdemli'
 'Bozyazı' 'Selçuklu' 'Salihli' 'Gerze' 'Pursaklar' 'Balçova' 'Mudanya'
 'Çubuk' 'İskenderun' 'Kumluca' 'Nazilli' 'Gemlik' 'Kozan' 'Saruhanlı'
 'Karasu' 'Adapazarı' 'Çayırova' 'Lüleburgaz' 'Pazar' 'Menderes'
 'Korkuteli' 'Ergene' 'Melikgazi' 'Foça' 'Kemalpaşa' 'Adalar' 'Türkoğlu'
 'Gaziemir' 'Toroslar' 'Akçakoca' 'Meram' 'Kızıltepe' 'Akdeniz' 'Silifke'
 'İpekyolu' 'Erbaa' 'Darıca' 'Orhangazi' '19 Mayıs' 'Vezirköprü' 'Bozüyük'
 'Germencik' 'Niksar' 'Sultanbeyli' 'Şehitkamil' 'Ula' 'Gazipaşa' 'Şarköy'
 'Karatay' 'Kırkağaç' 'Kayapınar' 'Babaeski' 'Bağlar' 'Kartepe' 'Çınarcık'
 'Şile' 'Lefkoşa' 'Karaburun' 'Düziçi' 'Kadirli' 'Sarayköy' 'Gebze'
 'Marmaraereğlisi' 'Belen' 'Yüreğir' 'Gelibolu' 'Artuklu' 'Kınık'
 'Karataş' 'Altınova' 'Dulkadiroğlu' 'Sultangazi' 'Çilimli' 'Gürsu'
 'Çayeli' 'Altın' 'Kepsut' 'Safranbolu' 'Reyhanlı' 'Yatağan' 'Hassa'
 'Develi' 'Haliliye' 'Erenler' 'Arhavi' 'Battalgazi' 'Yomra' 'İncirliova'
 'Samandağ' 'Akyurt' 'Alaplı' 'Biga' 'Honaz' 'Çay' 'Selçuk' 'Yeşilyurt'
 'Karaköprü' 'Enez' 'Çameli' 'Aziziye' 'Girne']

====================

Neighborhood
['Akşemsettin' 'Yeşilyurt' 'Nisbetiye' ... 'Döşeme' 'Çatalarık' 'Evka-5']

====================

Apartment Type
['Daire' 'Residence' 'Villa' 'Müstakil Ev' 'Yalı Dairesi' 'Yazlık' 'Köşk'
 'Bina' 'Bungalov' 'Dağ Evi' 'Loft Daire' 'Yalı']

====================

House Type
['Daire' 'Residence' 'Villa' 'Müstakil Ev' 'Yalı Dairesi' 'Yazlık' 'Köşk'
 'Bina' 'Bungalov' 'Dağ Evi' 'Loft Daire' 'Yalı']

====================

House Age
['3' '5' 'Sıfır' '15' '10' '21' '1' '27' '25' '11' '22' '2' '4' '30' '26'
 '24' '55' '35' '9' '14' '6' '40' '31' '20' '8' '18' '12' '7' '39' '13'
 '45' '17' '50' '16' '36' '100' '75' '19' '43' '28' '37' '33' '38' '69'
 '42' '32' '29' '60' '34' '23' '48' '70' '52' '200' '80' '220' '95' '46'
 '65' '49']

====================

House Size
['125 m2' '140 m2' '360 m2' '350 m2' '90 m2' '175 m2' '850 m2' '80 m2'
 '260 m2' '500 m2' '185 m2' '250 m2' '65 m2' '300 m2' '130 m2' '150 m2'
 '180 m2' '165 m2' '75 m2' '286 m2' '120 m2' '169 m2' '98 m2' '50 m2'
 '135 m2' '67 m2' '76 m2' '340 m2' '200 m2' '346 m2' '349 m2' '570 m2'
 '121 m2' '221 m2' '355 m2' '600 m2' '578 m2' '179 m2' '190 m2' '450 m2'
 '145 m2' '217 m2' '170 m2' '171 m2' '400 m2' '148 m2' '950 m2' '240 m2'
 '1.220 m2' '325 m2' '1.200 m2' '138 m2' '242 m2' '650 m2' '384 m2'
 '85 m2' '60 m2' '78 m2' '105 m2' '55 m2' '95 m2' '115 m2' '155 m2'
 '110 m2' '70 m2' '35 m2' '45 m2' '220 m2' '142 m2' '302 m2' '62 m2'
 '100 m2' '160 m2' '195 m2' '53 m2' '330 m2' '285 m2' '163 m2' '104 m2'
 '56 m2' '82 m2' '214 m2' '290 m2' '252 m2' '700 m2' '94 m2' '230 m2'
 '77 m2' '58 m2' '167 m2' '116 m2' '113 m2' '117 m2' '282 m2' '550 m2'
 '1.620 m2' '97 m2' '83 m2' '225 m2' '210 m2' '139 m2' '270 m2' '168 m2'
 '215 m2' '64 m2' '166 m2' '72 m2' '177 m2' '157 m2' '164 m2' '1.000 m2'
 '81 m2' '128 m2' '380 m2' '375 m2' '279 m2' '278 m2' '197 m2' '123 m2'
 '224 m2' '280 m2' '470 m2' '122 m2' '193 m2' '156 m2' '275 m2' '187 m2'
 '800 m2' '118 m2' '176 m2' '126 m2' '310 m2' '133 m2' '144 m2' '102 m2'
 '84 m2' '552 m2' '51 m2' '124 m2' '66 m2' '151 m2' '132 m2' '119 m2'
 '29 m2' '194 m2' '68 m2' '40 m2' '184 m2' '48 m2' '114 m2' '158 m2'
 '63 m2' '109 m2' '201 m2' '196 m2' '1.100 m2' '186 m2' '38 m2' '101 m2'
 '108 m2' '88 m2' '265 m2' '153 m2' '192 m2' '172 m2' 'Kat Karşılığı :'
 '92 m2' '111 m2' '91 m2' '320 m2' '30 m2' '154 m2' '203 m2' '25 m2'
 '37 m2' '750 m2' '59 m2' '205 m2' '152 m2' '39 m2' '245 m2' '112 m2'
 '54 m2' '198 m2' '96 m2' '52 m2' '86 m2' '539 m2' '720 m2' '57 m2'
 '89 m2' '980 m2' '580 m2' '106 m2' '459 m2' '420 m2' '530 m2' '385 m2'
 '22 m2' '20 m2' '235 m2' '386 m2' '41 m2' '560 m2' '630 m2' '390 m2'
 '1.500 m2' '61 m2' '149 m2' '107 m2' '1.250 m2' '222 m2' '11 m2' '15 m2'
 '69 m2' '87 m2' '501 m2' '16 m2' '134 m2' '136 m2' '370 m2' '49 m2'
 '32 m2' '44 m2' '159 m2' '480 m2' '199 m2' '146 m2' '735 m2' '129 m2'
 '137 m2' '202 m2' '42 m2' '183 m2' '93 m2' '520 m2' '74 m2' '344 m2'
 '259 m2' '276 m2' '881 m2' '103 m2' '24 m2' '43 m2' '243 m2' '510 m2']

====================

Room Count
['3 + 1' '4 + 1' '1 + 1' '2 + 1' '5 + 1' '5 + 2' '7 + 1' '6 + 1' '8 + 1'
 '6 + 2' '10 + 2' '8 + 2' '3 + 2' '7 + 2' '4 + 2' '1 + 0' '2 + 0' '2 + 2'
 '6 + 3' '11 + 2' '9 + 3' '6 + 6' '6 + 0' '9 + 1' '25 + 2' '4 + 8' '1 + 3'
 '3 + 3' '3 + 0' '4 + 4' '5 + 3' '1 + 2' '41 + 1' '9 + 2' '10 + 1']

====================

Floor
['Ara Kat' '13. Kat' '21 ve üzeri' '5. Kat' '10. Kat' nan '4. Kat'
 'En Üst Kat' 'Bahçe Katı' 'Yüksek Giriş' '3. Kat' '2. Kat' '7. Kat'
 '1. Kat' '14. Kat' '18. Kat' '16. Kat' '8. Kat' '15. Kat' '17. Kat'
 '19. Kat' 'Kot 1' 'Kot 2' 'Giriş Katı' 'Zemin' '6. Kat' '9. Kat'
 'Teras Katı' 'Kot 3' 'Çatı Katı' '12. Kat' '11. Kat' 'Villa Katı'
 'Bodrum' 'Yarı Bodrum' '20. Kat' 'Bodrum ve Zemin' 'Tripleks']

====================

Furniture
[True False nan]

====================

Bathroom Count
[ 2.  3.  4.  1.  5.  6. nan  7.  8. 11. 22.]

====================

Hand
['İkinci El' 'Sıfır' nan 'Betonarme']

====================

Heater Type
['Kombi' 'Merkezi (Pay Ölçer)' 'VRV' 'Klima' 'Merkezi' 'Yerden Isıtma'
 'Fancoil Ünitesi' 'Isıtma Yok' 'Güneş Enerjisi' 'Kat Kaloriferi'
 'Belirtilmemiş' 'Soba' 'Doğalgaz Sobası' 'Jeotermal Isıtma' 'Isı Pompası']

====================

Heater Fuel
['Doğalgaz' 'Elektrik' nan 'Kömür-Odun' 'Akaryakıt']

====================

Price
[   16000    15500   350000    60000   255000  1000000    35000    25000
   500000    15000    37000    40000   270000    22000    20000   165000
    75000   310000    16500   120000    45000   240000    12000     9750
    23000    24000    10000    27500   130000   195000   285000   320000
   300000   540000   465000    96000    13500   335000   650000   200000
   220000   250000   190000   295000   110000   325000   192000  1250000
   260000  2650000   550000   315000   129000   185000   210000   113000
   241000   225000   340000    20500    17000     9000   150000    14000
    13000    10500    18500   180000    27000    21000    42000      199
   160000    19000    26500     9500    30000    18000    22900    28000
    12500    28500    14500    25750   275000    26000    37500     6000
   245000    33000    31500    29500    44000    11500    50000    65000
     8000    55000    22500    90000   100000    24500    80000     1000
  1225000    17500     7500    25500    36500    32000     8500    15800
     6250    29000    13750    12750    19500    47500    38000   140000
    15300   175000    19750    39750     5000     8250    43000    59000
    83000    23500    17750   145000    36000    11000    34500    12400
   125000    39950      330     3500    14250   600000     7000      700
    41000    85000     2975    13250    46000    29900    68000    17250
  1200000   299900   290000    99000    70000    34000    22200    14900
    15750    24950     9250   400000    32500    21250     3000     2500
      275    11700     6500    38500  3600000    31000   800000    76000
   483000   330000     4500    24900    15250   170000    11250   450000
    30500    53000    12250   105000    33500    48000    18100   115000
    57000  8000000    21500    52000    24750    62500  5600000    10750
    12800     1500    29750  3000000   142000    48500      600      750
   141500   870000    14700    23750    10250     5500  2050000    12200
 32500000     9650      120     1200    42500    14150    18250     7750
    95000    11900     9100    14750    16950    18999     2000    67490
     7250     8650   128000    58000    41500    20050    70490  1900000
    78000    14200    98000    24999  4750000    18750   750000    39000
    19999    68750   890000    14600    55490    14999    87000   158000
 12000000    20900    77000  3250000    25700     6100     2750   625000
   253000   675000  4000000       65  1875000    13300   280000    46750
    47000     3800     4800   118000    13800    11999   975000    25250
  1100000     6700    11750    18200    16750    15900      500    14350
    41250    19650   420000    68900   230000     8100   820000   425000
    10200    66000 20500000    20250    16800     4000    29490    13989
  1111111  1980000    49000    28888    35750    17900   124000   338000
   135000    22750    56000    39500    10950    20400    20200    72500
   560000    17700   265000     9999       99    19250     5800     9800
     8999   435000  1845000    25850   288000   485000   590000   475000
    76500    86000  4050000  2500000 40000000    62000   127000      950
   380000    52400   155000   360000    43750    85990    35500   244000
   645000     2275    24300   235000   875000     9749    13900   700000
    26250    69400    92200        1  1490000    10800     2200   205000
   370000    56500    49500    14990    14450    53500   389000    81250
    18300    72000     6300      699 15000000    81000    64000  2250000
     5900    12100    13200      125    15400    20300    20750   138000
   456000    67000   144000    16100   139500     8200     1700   198000
    23250  1925000]

====================

In [12]:
pd.unique(dataset_train["City"])

array(['Ankara', 'Adana', 'İstanbul', 'Muğla', 'Antalya', 'İzmir',
       'Isparta', 'Aksaray', 'Balıkesir', 'Tekirdağ', 'Edirne', 'Tokat',
       'Bursa', 'Kocaeli', 'Aydın', 'Erzincan', 'Burdur', 'Çanakkale',
       'Yalova', 'Zonguldak', 'Kayseri', 'Giresun', 'Eskişehir', 'Bolu',
       'Düzce', 'Kastamonu', 'Amasya', 'Kahramanmaraş', 'Çorum',
       'Mersin(İçel)', 'Erzurum', 'Hatay', 'Samsun', 'Denizli', 'Manisa',
       'Batman', 'Bartın', 'Ordu', 'Gaziantep', 'Sakarya', 'Sivas',
       'Kırıkkale', 'Kütahya', 'Uşak', 'Nevşehir', 'Niğde', 'Osmaniye',
       'Sinop', 'Rize', 'Trabzon', 'Konya', 'Diyarbakır', 'Kırklareli',
       'Karaman', 'Elazığ', 'Bilecik', 'Karabük', 'Mardin', 'Van',
       'Yozgat', 'Muş', 'Afyonkarahisar', 'K.K.T.C.', 'Kilis',
       'Şanlıurfa', 'Artvin', 'Malatya', 'Kırşehir', 'Adıyaman'],
      dtype=object)

## Fix Room Count

In [13]:
pd.unique(dataset_train["Room Count"])

array(['3 + 1', '4 + 1', '1 + 1', '2 + 1', '5 + 1', '5 + 2', '7 + 1',
       '6 + 1', '8 + 1', '6 + 2', '10 + 2', '8 + 2', '3 + 2', '7 + 2',
       '4 + 2', '1 + 0', '2 + 0', '2 + 2', '6 + 3', '11 + 2', '9 + 3',
       '6 + 6', '6 + 0', '9 + 1', '25 + 2', '4 + 8', '1 + 3', '3 + 3',
       '3 + 0', '4 + 4', '5 + 3', '1 + 2', '41 + 1', '9 + 2', '10 + 1'],
      dtype=object)

In [14]:
room_counts = dataset_train["Room Count"].value_counts()
room_counts

3 + 1     2170
2 + 1     2086
1 + 1     1058
4 + 1      428
5 + 1      119
1 + 0       57
5 + 2       49
4 + 2       45
3 + 2       36
6 + 1       28
2 + 0       19
6 + 2       14
2 + 2       10
7 + 1       10
7 + 2        6
3 + 3        3
8 + 1        3
9 + 2        2
6 + 3        2
1 + 2        2
6 + 6        2
6 + 0        2
5 + 3        2
8 + 2        2
41 + 1       1
4 + 4        1
3 + 0        1
25 + 2       1
1 + 3        1
4 + 8        1
9 + 1        1
9 + 3        1
11 + 2       1
10 + 2       1
10 + 1       1
Name: Room Count, dtype: int64

In [15]:
valid_rooms = room_counts[room_counts >= 10].index
filtered_df = dataset_train[dataset_train["Room Count"].isin(valid_rooms)]

In [16]:
filtered_df.shape

(6129, 16)

In [17]:
filtered_df["Room Count"].value_counts()

3 + 1    2170
2 + 1    2086
1 + 1    1058
4 + 1     428
5 + 1     119
1 + 0      57
5 + 2      49
4 + 2      45
3 + 2      36
6 + 1      28
2 + 0      19
6 + 2      14
7 + 1      10
2 + 2      10
Name: Room Count, dtype: int64

In [18]:
filtered_df[["Rooms", "Living Rooms"]] = filtered_df["Room Count"].str.split(r"\s*\+\s*", expand=True)

c:\Users\Giray\Projects\Rent_Estimation_System\tensorflow_env\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [19]:
filtered_df.shape

(6129, 18)

In [20]:
filtered_df[["Room Count","Rooms","Living Rooms"]]

     Room Count Rooms Living Rooms
0         3 + 1     3            1
1         3 + 1     3            1
2         4 + 1     4            1
3         4 + 1     4            1
4         1 + 1     1            1
...         ...   ...          ...
6161      3 + 1     3            1
6162      3 + 1     3            1
6163      3 + 1     3            1
6164      3 + 1     3            1
6165      3 + 1     3            1

[6129 rows x 3 columns]

In [21]:
filtered_df["Rooms"] = filtered_df["Rooms"].astype(int)
filtered_df["Living Rooms"] = filtered_df["Living Rooms"].astype(int)
filtered_df.drop(columns=["Room Count"], inplace=True)

c:\Users\Giray\Projects\Rent_Estimation_System\tensorflow_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\Giray\Projects\Rent_Estimation_System\tensorflow_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\Giray\Projects\Rent_Estimation_System\tensorflow_env\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
filtered_df.shape

(6129, 17)

In [23]:
filtered_df

,Unnamed: 0,City,Town,Neighborhood,Apartment Type,House Type,House Age,House Size,Floor,Furniture,Bathroom Count,Hand,Heater Type,Heater Fuel,Price,Rooms,Living Rooms
0,0,Ankara,Mamak,Akşemsettin,Daire,Daire,3,125 m2,Ara Kat,True,2.0,İkinci El,Kombi,Doğalgaz,16000,3,1
1,1,Adana,Seyhan,Yeşilyurt,Daire,Daire,5,140 m2,13. Kat,False,2.0,İkinci El,Kombi,Doğalgaz,15500,3,1
2,2,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,Sıfır,360 m2,21 ve üzeri,False,3.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000,4,1
3,3,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,Sıfır,350 m2,Ara Kat,False,4.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000,4,1
4,4,İstanbul,Şişli,Fulya,Daire,Daire,15,90 m2,5. Kat,True,1.0,İkinci El,Merkezi (Pay Ölçer),Doğalgaz,60000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6161,6161,İzmir,Çeşme,Boyalık,Villa,Villa,11,250 m2,NaN,True,2.0,İkinci El,Klima,Elektrik,650000,3,1
6162,6162,İstanbul,Kadıköy,Feneryolu,Daire,Daire,30,126 m2,8. Kat,False,1.0,NaN,Merkezi,Doğalgaz,30000,3,1
6163,6163,İstanbul,Bahçelievler,Siyavuşpaşa,Daire,Daire,30,125 m2,4. Kat,False,1.0,İkinci El,Kombi,Doğalgaz,18000,3,1
6164,6164,İstanbul,Şişli,Esentepe,Daire,Daire,13,120 m2,2. Kat,False,2.0,İkinci El,Kombi,Doğalgaz,40000,3,1
6165,6165,Muğla,Bodrum,Kumbahçe,Villa,Villa,10,240 m2,NaN,True,3.0,İkinci El,Klima,Elektrik,1925000,3,1

## Analyze House Age

In [24]:
pd.unique(filtered_df["House Age"])

array(['3', '5', 'Sıfır', '15', '10', '21', '1', '27', '25', '11', '22',
       '2', '4', '30', '26', '24', '55', '35', '9', '14', '40', '31',
       '20', '8', '6', '18', '12', '7', '39', '13', '45', '17', '50',
       '16', '36', '100', '75', '19', '43', '28', '37', '33', '38', '69',
       '42', '32', '29', '60', '34', '23', '48', '70', '52', '200', '80',
       '220', '95', '46', '65', '49'], dtype=object)

In [25]:
filtered_df["House Age"].value_counts()

Sıfır    686
25       430
5        424
30       414
15       359
20       347
10       345
35       230
4        229
1        194
2        172
8        170
3        156
11       146
7        144
40       139
12       123
6        121
26       119
16       118
31        95
18        89
21        83
9         77
28        74
13        64
22        64
14        61
45        51
17        47
27        43
24        34
50        32
23        32
38        27
42        23
29        22
32        22
19        20
33        20
36        18
34        16
55        10
100        8
39         6
60         4
37         3
43         3
75         2
48         2
70         2
69         1
52         1
200        1
80         1
220        1
95         1
46         1
65         1
49         1
Name: House Age, dtype: int64

In [26]:
filtered_df.groupby("House Age").agg(
    Mean_Price=("Price", "mean"),
    House_Count=("Price", "count")
).sort_values("House_Count", ascending=False)

              Mean_Price  House_Count
House Age
Sıfır       62053.810496          686
25          31779.418605          430
5           51853.077830          424
30         115888.647343          414
15          43504.568245          359
20         161986.942363          347
10          58609.417391          345
35          30815.217391          230
4           79758.515284          229
1          147095.360825          194
2           78184.215116          172
8           43123.529412          170
3           44024.358974          156
11         107883.561644          146
7           29847.416667          144
40          31393.165468          139
12          33778.040650          123
6          326357.851240          121
26          50401.260504          119
16          53396.398305          118
31          40218.421053           95
18          49426.292135           89
21          35174.096386           83
9          137577.259740           77
28          20429.054054           74
13          37639.062500           64
22          31058.593750           64
14          41495.327869           61
45          24843.137255           51
17         105591.489362           47
27          46832.558140           43
24          24941.176471           34
50          37968.750000           32
23          96523.125000           32
38          35207.407407           27
42          24989.130435           23
32          31297.727273           22
29          23795.409091           22
33          19400.000000           20
19          34235.000000           20
36          22138.888889           18
34          19750.000000           16
55          41040.000000           10
100         65000.000000            8
39          20416.666667            6
60          31125.000000            4
37          14666.666667            3
43          39833.333333            3
75          38750.000000            2
70          64500.000000            2
48          12250.000000            2
49          32500.000000            1
65          40000.000000            1
52          35000.000000            1
46          14000.000000            1
220         60000.000000            1
80          42000.000000            1
200         20000.000000            1
95          40000.000000            1
69          26000.000000            1

In [27]:
def clean_house_age(value):
    if value == "Sıfır":
        return 0
    try:
        return int(value)
    except:
        return None  # veya np.nan

filtered_df["House Age"] = filtered_df["House Age"].apply(clean_house_age)

c:\Users\Giray\Projects\Rent_Estimation_System\tensorflow_env\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":

In [28]:
filtered_df.groupby("House Age").agg(
    Mean_Price=("Price", "mean"),
    House_Count=("Price", "count")
).sort_values("House_Count", ascending=False)

              Mean_Price  House_Count
House Age
0           62053.810496          686
25          31779.418605          430
5           51853.077830          424
30         115888.647343          414
15          43504.568245          359
20         161986.942363          347
10          58609.417391          345
35          30815.217391          230
4           79758.515284          229
1          147095.360825          194
2           78184.215116          172
8           43123.529412          170
3           44024.358974          156
11         107883.561644          146
7           29847.416667          144
40          31393.165468          139
12          33778.040650          123
6          326357.851240          121
26          50401.260504          119
16          53396.398305          118
31          40218.421053           95
18          49426.292135           89
21          35174.096386           83
9          137577.259740           77
28          20429.054054           74
22          31058.593750           64
13          37639.062500           64
14          41495.327869           61
45          24843.137255           51
17         105591.489362           47
27          46832.558140           43
24          24941.176471           34
23          96523.125000           32
50          37968.750000           32
38          35207.407407           27
42          24989.130435           23
32          31297.727273           22
29          23795.409091           22
33          19400.000000           20
19          34235.000000           20
36          22138.888889           18
34          19750.000000           16
55          41040.000000           10
100         65000.000000            8
39          20416.666667            6
60          31125.000000            4
37          14666.666667            3
43          39833.333333            3
48          12250.000000            2
75          38750.000000            2
70          64500.000000            2
200         20000.000000            1
95          40000.000000            1
80          42000.000000            1
52          35000.000000            1
69          26000.000000            1
65          40000.000000            1
49          32500.000000            1
46          14000.000000            1
220         60000.000000            1

In [29]:
age_counts = filtered_df["House Age"].value_counts()
valid_ages = age_counts[age_counts >= 10].index

filtered_df = filtered_df[filtered_df["House Age"].isin(valid_ages)]

In [30]:
filtered_df.groupby("House Age").agg(
    Mean_Price=("Price", "mean"),
    House_Count=("Price", "count")
).sort_values("House_Count", ascending=False)

              Mean_Price  House_Count
House Age
0           62053.810496          686
25          31779.418605          430
5           51853.077830          424
30         115888.647343          414
15          43504.568245          359
20         161986.942363          347
10          58609.417391          345
35          30815.217391          230
4           79758.515284          229
1          147095.360825          194
2           78184.215116          172
8           43123.529412          170
3           44024.358974          156
11         107883.561644          146
7           29847.416667          144
40          31393.165468          139
12          33778.040650          123
6          326357.851240          121
26          50401.260504          119
16          53396.398305          118
31          40218.421053           95
18          49426.292135           89
21          35174.096386           83
9          137577.259740           77
28          20429.054054           74
22          31058.593750           64
13          37639.062500           64
14          41495.327869           61
45          24843.137255           51
17         105591.489362           47
27          46832.558140           43
24          24941.176471           34
23          96523.125000           32
50          37968.750000           32
38          35207.407407           27
42          24989.130435           23
29          23795.409091           22
32          31297.727273           22
33          19400.000000           20
19          34235.000000           20
36          22138.888889           18
34          19750.000000           16
55          41040.000000           10

## Analyze House Size

In [31]:
filtered_df["House Size"].value_counts()

110 m2      354
100 m2      349
120 m2      346
90 m2       323
130 m2      313
           ...
720 m2        1
539 m2        1
282 m2        1
1.620 m2      1
510 m2        1
Name: House Size, Length: 239, dtype: int64

In [32]:
non_numeric_sizes = filtered_df[~filtered_df["House Size"].str.contains(r"\d", na=False)]

In [33]:
print("Non-numeric Data count:", len(non_numeric_sizes)) # Removing rows like "Kat Karşılığı :"

Non-numeric Data count: 5

In [34]:
filtered_df = filtered_df[filtered_df["House Size"].str.contains(r"\d", na=False)]

In [35]:
non_numeric_sizes = filtered_df[~filtered_df["House Size"].str.contains(r"\d", na=False)]
print("Non-numeric Data count:", len(non_numeric_sizes))

Non-numeric Data count: 0

In [36]:
def extract_m2(value):
    try:
        return float(value.replace(" m2", "").replace(".", ""))
    except:
        return None

filtered_df["House Size m2"] = filtered_df["House Size"].apply(extract_m2)
filtered_df.drop(columns=["House Size"], inplace=True)

In [37]:
filtered_df.shape

(6085, 17)

In [38]:
filtered_df.head()

,Unnamed: 0,City,Town,Neighborhood,Apartment Type,House Type,House Age,Floor,Furniture,Bathroom Count,Hand,Heater Type,Heater Fuel,Price,Rooms,Living Rooms,House Size m2
0,0,Ankara,Mamak,Akşemsettin,Daire,Daire,3,Ara Kat,True,2.0,İkinci El,Kombi,Doğalgaz,16000,3,1,125.0
1,1,Adana,Seyhan,Yeşilyurt,Daire,Daire,5,13. Kat,False,2.0,İkinci El,Kombi,Doğalgaz,15500,3,1,140.0
2,2,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,0,21 ve üzeri,False,3.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000,4,1,360.0
3,3,İstanbul,Beşiktaş,Nisbetiye,Residence,Residence,0,Ara Kat,False,4.0,Sıfır,Merkezi (Pay Ölçer),Doğalgaz,350000,4,1,350.0
4,4,İstanbul,Şişli,Fulya,Daire,Daire,15,5. Kat,True,1.0,İkinci El,Merkezi (Pay Ölçer),Doğalgaz,60000,1,1,90.0

## Analyze Floor

In [39]:
filtered_df["Floor"].value_counts(dropna=False)

2. Kat             852
3. Kat             712
1. Kat             682
Ara Kat            519
4. Kat             485
Yüksek Giriş       411
NaN                381
5. Kat             289
En Üst Kat         251
Bahçe Katı         250
Giriş Katı         204
6. Kat             124
7. Kat             115
Kot 1              110
8. Kat             101
21 ve üzeri         77
Zemin               63
9. Kat              55
Çatı Katı           54
10. Kat             47
11. Kat             37
Kot 2               31
Teras Katı          30
12. Kat             29
14. Kat             27
Villa Katı          26
13. Kat             26
Yarı Bodrum         21
15. Kat             14
Kot 3               14
18. Kat             11
17. Kat              9
16. Kat              9
19. Kat              7
20. Kat              5
Bodrum               4
Bodrum ve Zemin      2
Tripleks             1
Name: Floor, dtype: int64

In [40]:
def convert_floor(value):
    try:
        # ("2. Kat" → 2)
        if ". Kat" in value:
            return int(value.replace(". Kat", "").strip())
        
        # Special Floors:
        elif value == "Giriş Katı":
            return 0
        elif value == "Zemin":
            return 0
        elif value == "Bahçe Katı":
            return -1
        elif value == "Yüksek Giriş":
            return 0.5
        elif value == "Ara Kat":
            return None  # Uncertain, can be any floor between (0,top). But there are sufficient amount of data. Giving NaN for to use in Model.
        elif value == "En Üst Kat":
            return 21
        elif value == "Çatı Katı":
            return 21
        elif value == "Teras Katı":
            return 21
        elif value == "Bodrum":
            return -2
        elif value == "Yarı Bodrum":
            return -1.5
        elif "Kot" in value:
            return -1 * int(value.replace("Kot ", "").strip())
        elif "ve üzeri" in value:
            return 21
        else:
            return None  # Unsufficient amount of data: Tripleks, Villa Katı, etc.
    
    except:
        return None

In [41]:
filtered_df["Floor Level"] = filtered_df["Floor"].apply(convert_floor)

In [42]:
filtered_df["Floor Level"].value_counts(dropna=False)

 NaN     929
 2.0     852
 3.0     712
 1.0     682
 4.0     485
 21.0    412
 0.5     411
-1.0     360
 5.0     289
 0.0     267
 6.0     124
 7.0     115
 8.0     101
 9.0      55
 10.0     47
 11.0     37
-2.0      35
 12.0     29
 14.0     27
 13.0     26
-1.5      21
 15.0     14
-3.0      14
 18.0     11
 16.0      9
 17.0      9
 19.0      7
 20.0      5
Name: Floor Level, dtype: int64